.info-lote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-lote form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tabela {
  max-height: calc(100vh - 420px);
  overflow: auto;
}

table {
  width: 100%;
}
